---
layout: default
---

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Courses</h3>
    {{ content }}
    {% for course in site.data.settings.courses %}
    <div class="row mb-3 align-items-center">
      <div class="{% if course.image %}col-md-9{% else %}col-12{% endif %}">
        <p class="mb-1 fw-bold">{% if course.url %}<a href="{{ '/courses/' | append: course.url | relative_url }}">{{ course.name }}</a>{% else %}{{ course.name }}{% endif %}</p>
        <p>{{ course.description }}</p>
      </div>
      {% if course.image %}
      <div class="col-md-3">
        <img src="{{ course.image | relative_url }}" alt="{{ course.name }}" class="img-fluid" style="max-height: 260px;">
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
