---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Research</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.data.settings.home_image.image | relative_url }}" alt="{{ site.data.settings.home_image.alt }}" class="img-fluid rounded">
  </div>
</div>

<div class="row g-4 mb-5">
  <div class="col-12">
    <h3 class="fw-bold border-bottom pb-3 mb-4">In the Lab</h3>
  </div>
  {% for photo in site.data.settings.gallery %}
  <figure class="col-md-4 mb-0">
    <img src="{{ photo.image | relative_url }}" alt="{{ photo.caption }}" class="img-fluid rounded gallery-photo">
    <figcaption class="text-muted small mt-2">{{ photo.caption }}</figcaption>
  </figure>
  {% endfor %}
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Latest News</h3>
    {% for post in site.posts limit: 3 %}
      {% include news-item.html post=post %}
    {% endfor %}
    <p><a href="{{ '/news/' | relative_url }}">All news &rarr;</a></p>
  </div>
</div>

{% include publications.html featured=true %}
